
.container-fluid{

}

.carousel {
  text-align: center;
}

div.option{
  width: 100%;
  height: auto;
  overflow:auto;
  box-sizing: border-box;
}

.option img{

  overflow:hidden;

}
.carousel-item .centered{
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
}


.banner .centered {
  position: absolute;
  top: 50%;
  left:60%;
  transform: translate(-50%, -50%);
}



.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  text-align: left;
}

.add-image{
  position: relative;
  min-height:270px;
  max-height: 300px;
  width:100%;

  border-radius: 40px;
  overflow: auto;
  overflow: hidden;
  font-size: 20%;

}
.add-image img{
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-radius: 40px;

}

.top-left h2[type='1']{
  color: #ff00d6;

}
.top-left button[type='button1']{
  height: 50px;
  padding: 0 20px 0 20px;
  margin-top: 30px;
  background-color: #fe2ae2;
  border: none;
  border-radius:25px;
  color: white;
}

.top-left h2[type='2']{
  color: #dbfcff;

}
.top-left button[type='button2']{
  height: 50px;
  padding: 0 20px 0 20px;
  margin-top: 30px;
  background-color: #2ad1fe;
  border: none;
  border-radius:25px;
  color: white;
  transition: 0.5s;
}

.top-left button[type='button2']:hover{
  background-color: #b6f0ff;
  color: #f200ff;
  transition: 0.5s;
}
.top-left button[type='button1']:hover{
  background-color: #ff90f0;
  color: #0066ff;
  transition: 0.5s;
}


.add{
  overflow: auto;
}


.add{
  height:auto;
  /* position: relative; */
  margin: auto;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 3px 3px px silver; */
  display: inline-block;
  /* position:fixed; */
  box-sizing: border-box;
  border-radius: 5px;
  border-style: dashed;
  border-color: #00ffe0;
}

.add img{
  width: 100%;
  opacity: 0.
}

.lead{
  color: #000000;
}

.add p{
  color: #ff00d7;
  font-weight: bold;
}
.add del{
  color: red;
}
span{
  color:black;
}
.checked {
  color: orange;
}
.add button[type="buttonshop"]{
  /* position: absolute; */
  width: 100%;
  border: none;
  height: 10%;
  /* top:90%; */
  /* left: 0%; */
  height: 35px;
  background-color: #00ffe0;
  color: white;
}
/* .margin_{
  display: none;
} */

.card-body{
  background-color: rgba(215, 240, 255, 0.36);
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.owl-banner {
  float: left;
  width: 100%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.dropdown{border-radius:5px;width:180px;}
.dropdown:hover .dropdown-menu{
  display:block;
}
.dropdown-menu{
  text-align:center;

}

.serchimg{
  width:60px;
  height:80px;
}
img[type='profile']{
  margin-bottom:25px;
  max-width:170px;
  height:auto;

}
.allcontain{
  max-width:1900px;
}
body{
  text-align:center;
}
.dressimg{
  border-radius:20px;
}
.dressimgcaro{
  border-radius:100px;
}
/* .card-img-top:hover{
  transition: 0.5s;
  opacity:1;
}
.card-img-top{
  transition: 0.5s;
  opacity:0.7;
} */

.sectionglass {

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  border-radius: 15px;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.sectionglass:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.76);
  filter: blur(10px);
  margin: -20px;
}
.sectionglassdark {

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
  border-radius: 15px;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.sectionglassdark:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.76);
  filter: blur(10px);
  margin: -20px;
}
.searchdesc {
  word-wrap: break-word;
}
#lightbox{

  position: fixed;
  z-index:1000;
  top: 0;

  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: rgba(69, 69, 69, 0.53);

  display: none;
}

.right {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.left {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img{
  border-radius:0px 0px 20px 20px ;
}

.bodydiv{
  margin: 0 15px 0 15px;
  /* max-width:1920px; */

}

.top-left {
  position: absolute;
  top: 90%;
  left: 15%;
  /* padding-left:40px; */
  /* padding-bottom: 40px; */
  transform: translate(-50%, -50%);
}

.dressimgsec{
  position: relative;
  cursor: pointer;
}

.divcentered{
  /* margin: 0 10px 0 10px; */
  transition:0.5s;
  position: absolute;
  height:100%;
  width: 96%;
  top: 50%;
  left: 50%;
  border-radius:20px 20px 20px 20px;
  transform: translate(-50%, -50%);
}
.centered2 {
  opacity:0;
  color:white;
  transition:0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dressimgsec:hover .divcentered{
  transition:0.5s;
  background-color: rgba(0, 0, 0, 0.69);
}

.dressimgsec:hover .centered2{
  transition:0.5s;
  opacity:1;
}

.dropdown-item-a{
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(89, 116, 255, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey;
}
